<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Python Chat App Yo</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <style>
            div.msgbbl {
                background-color: #ddd;
                padding: 5px 10px;
                border-radius: 10px;
                color: #555;
                margin: 5px;
            }
        </style>

    </head>

    <body>

        <div class="container-fluid">
            <div class="well text-center">
                <h4>My Chat App</h4>
            </div>

            <div class="col-sm-8">
                <div class="nomsg">
                    <h1 style="color: #ccc">No Message Yet!</h1>
                    <div class="msg-wrapper"></div>
                </div>
            </div>

            <div class="col-sm-4">
                <form action="" method="POST">
                    <b>Type your message below.</b>
                    <div class="clearfix" style="margin-top: 5px;"></div>
                    <input type="text" class="username form-control" placeholder="User Name">
                    <div style="padding-top: 5px;"></div>
                    <input type="text" class="message form-control" placeholder="Messages">
                    <div style="padding-top: 5px;"></div>
                    <button type="submit" class="btn btn-success">Send</button>
                </form>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        
        <script>
            var socket = io.connect('http://127.0.0.1:5000');

            // broadcast a message
            socket.on('connect', function(){
                socket.emit('my event', {
                    data : 'User Connected'
                })
            })

            var form = $('form').on('submit', function(e){
                e.preventDefault()

                var user_name = $('input.username').val()
                var message = $('input.message').val()

                socket.emit('my event', {
                    user : user_name,
                    msg : message
                })

                // empty the message field after new text added
                $('input.message').val('').focus() 
            })

            // capture a message
            socket.on('my response', function(msg){
                if (typeof msg.user !== 'undefined'){
                    $('h1').remove()
                    $('div.msg-wrapper').append('<div class="msgbbl"><b>' +msg.user+ '</b> ' +msg.msg+ '</div>')
                }
                console.log(msg)
            })
        </script>
    </body>
</html>